<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Your current user Name: ({{name}})</p>
        <form  method="post">
            <label for="username">Search</label>
            <input type="search" id="username" Searchedname="username" required placeholder="Enter Name to Search">
            <button type="submit">Submit</button>
            <div id="status"></div>
        </form>
        <h1>{{Searchedname}}</h1>
</body>
</html>